<widget id="com.librero.joyas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Liebrero</name>
    <description>Aplicacion de gestion de libros y publicaciones online</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Team Rivals
    </author>

    <!-- Icono principal -->
<icon src="www/img/iconoApp.png" />

    <platform name="android">
        <allow-intent href="*" />
        <access origin="*" />
        <!-- Icono específico para Android -->
        <icon src="www/img/iconoApp.png" density="mdpi" />
        <icon src="www/img/iconoApp.png" density="hdpi" />
        <icon src="www/img/iconoApp.png" density="xhdpi" />
        <icon src="www/img/iconoApp.png" density="xxhdpi" />
        <icon src="www/img/iconoApp.png" density="xxxhdpi" />
    </platform>

    <content src="login.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
