<?xml version='1.0' encoding='utf-8'?>
<widget id="com.librero.joyas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Liebrero</name>
    <description>Aplicacion de gestion de libros y publicaciones online</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Team Rivals
    </author>
<platform name="android">
  <allow-intent href="*" />
  <access origin="*" />
</platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
